
@using PagedList.Mvc;
@using SachOnline.Models;
@model PagedList.PagedList<SACH>

@{
    ViewBag.Title = "SachTheoChuDe";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2 class="text-center">SÁCH </h2>
<hr>
<div class="row text-center">
    @{ int i = 0;}
    @foreach (var sach in Model)
    {
        if (sach == null)
        {
            continue;
        }
        i++;
        if (i % 3 == 0)
        {
            @:<div class="col-sm-4 col-md-4 col-lg-4 col-xs-6 hidden-xs">
            }
            else
            {
                @:<div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
                }

                <div class="thumbnail">
                    <img src="~/Images/@sach.AnhBia" alt="Thumbnail Image 1" class="img-responsive img-rounded imgbook ">
                    <div class="caption">
                        <h3>Sản phẩm</h3>
                        <p><a href="@Url.Action("ChiTietSach", "SachOnline", new {MaSach= sach.MaSach})">Chi tiết sản phẩm</a></p>
                        <p>
                            <a href="#" class="btn btn-warning" role="button">
                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true">
                                </span> Add to Cart
                            </a>
                        </p>
                    </div>
                </div>
            @:</div>


        }

</div>

Trang @(Model.PageCount<Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("SachTheoChuDe","SachOnline", new { iMaCD = ViewBag.MaCD, page = page }))
</div>
<style>
    .MenuTrang {
        display: inline;
        text-align: center;
    }
</style>


